<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>Peace-of-mind from prototype to production</p>
</section>

<section class="row">
  <article class="column">
    <a href="/user">
      <button>user</button>
    </a>
  </article>
  <article class="column">
    <a href="/admin_user">
      <button>admin user</button>
    </a>
  </article>
</section>
